- if paginate && num_pages > 1 
  %p= "Page #{page_number} of #{num_pages}"
  - if prev_page 
    %p= link_to 'Previous', prev_page 

- page_articles.each_with_index do |article, i| 
  %blockquote
    %p
      %h3= link_to article.title, article
      = article.summary(250)
    %footer= article.date.strftime('%d.%m.%Y')

- if paginate 
  - if next_page 
    %p= link_to 'Next', next_page 