!!! 5
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'content-type'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name: 'viewport'}
    = display_meta_tags
    = feed_tag :atom, "/#{prefix}/feed.xml", title: "#{subscribe_via} RSS"

    %title= current_page.data.title || 'nizovtsevnv.github.io'

    %link{ rel: "apple-touch-icon", sizes: "152x152", href: "apple-touch-icon-152x152-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }

    = stylesheet_link_tag :application
    = javascript_include_tag  :jquery, :application
    = google_analytics_universal_tag if methods.include?(:google_analytics_universal_tag)
  %body{class: page_classes}
    #page-header
      %nav.navbar
        %a.navbar-brand.hidden-xs-down{href: "/#{prefix}"}= author
        %ul.nav.navbar-nav.pull-xs-right
          %li.nav-item
            %a.nav-link{href: "/", class: ('active' if prefix == 'en')} EN
          %li.nav-item
            %a.nav-link{href: "/ru", class: ('active' if prefix == 'ru')} RU



    .container-fluid
      .row#page-tags
        .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12.col-sm-12.col-xs-12
          - blog.tags.keys.each do |tagname|
            %span.tag.tag-default
              %i.fa.fa-tag{'aria-hidden' => 'true'}
              %a{href: "#{blog_controller.options.prefix}/tags/#{tagname}"}= tagname
      .row#page-main
        .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12.col-sm-12.col-xs-12
          = yield



#page-footer
  .container-fluid
    .row
      .col-xl-6.offset-xl-3.col-lg-6.offset-lg-3.col-md-12.center
        %a.img{href: "https://www.linkedin.com/in/nizovtsevnv", target: "blank"}
          %img{src: "/images/socials/linkedin.png"}
        %a.img{href: "https://www.facebook.com/nick.nizovtsev", target: "blank"}
          %img{src: "/images/socials/facebook.png"}
        %a.img{href: "https://twitter.com/nizovtsevnv", target: "blank"}
          %img{src: "/images/socials/twitter.png"}
        %a.img{href: "https://vk.com/nizovtsevnv", target: "blank"}
          %img{src: "/images/socials/vk.png"}
        %a.img{href: "https://www.instagram.com/nizovtsevnv/", target: "blank"}
          %img{src: "/images/socials/instagram.png"}
      .col-xl-3.col-md-12.right
        %p.rss-subscribe
          = subscribe_via
          %a{href: "/#{prefix}/feed.xml"} RSS
